
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #1a1a1a;
  font-size: 1rem;  
      line-height: 1.5;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;
  flex: 1;
  display: flex;
  justify-content:space-between;
  align-items: center; 
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #AA0114;
  color: #f7f7f7;
  border-bottom: 0.125rem solid #fde49e;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropbtn {
  background-color: #AA0114;
  color:white;
  float: left;
  font-size: 16px;
  text-align: center;
  padding-top: 17px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 17px;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  list-style: none;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.dropdown {
  display:none;
  position: absolute;
  background-color: #AA0114;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  z-index: 1;
  margin-top: 35px;
  margin-left: -15px;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.dropdown-content li {
  list-style: none;
}
.dropbtn:hover .dropdown {
  display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #e63946;
  color: #f7f7f7;
  transition: 0.25s;
  font-weight: 500;
  font-size: 1rem;
}

.btn:hover {
  background-color: hsl(10, 76%, 59%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  white-space: nowrap;
}

.logo img {
  height: 4rem;
  background: #f7f7f7;
  border-radius: 50%;
  padding: 0.5rem;
  box-sizing: content-box;
}

.logo p,
.page-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.logo p:not(.page-title) {
  border-right: 0.15rem solid #f7f7f7;
  padding-right: 0.65rem;
}

.page-title {
  display: flex;
  align-items: center;
}

.hero {
  background-image: url("https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ztpzkoauqruezjw1lglb/HOTEL%20MADISON%20TAIPEI%20-%20Restoran%20%26%20Bar%20Itali%20di%20MRT%20Xinyi%20Anhe.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .container {
  position: relative;
  height: 40rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  color: #FFD700;
}

.hero .container h1 {
  font-size: 3rem;
  text-shadow: 0 0 1rem #dd761c40;
}

.hero .container p {
  text-shadow: 0 0 0.25rem #dd761c80;
  font-weight: 500;
  font-size: 1.5rem;
}

.hero .hero-btn-wrapper {
  display: flex;
  gap: 0.5rem;
}

.hero .hero-btn-wrapper .btn {
  white-space: nowrap;
}


.figure {
  width: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  border: 0.25rem solid #1a1a1a40;
  padding: 1rem;
  height: fit-content;
  transition: 0.25s;
  cursor: default;
}

.card .profile-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.card h2,
.card h3 {
  font-weight: 600;
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}

.icon-wrapper img {
  width: 3rem;
  height: 4rem;
  transition: 0.25s;
  object-fit: contain;
  filter: grayscale(100%);
}

.card:hover {
  border-color: #1a1a1a80;
}

.card:hover .icon-wrapper img {
  filter: grayscale(0);
}

.card .btn,
.contact-text .btn {
  padding: 0.25rem 1rem;
}

.card-menu .card {
  padding: 0;
  overflow: hidden;
}

.card-menu .card-content {
  padding: 1rem;
}

.card-menu .card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  border-radius: 0.25rem;
  border-width: 0.125rem;
}

table,
th,
td {
  border-color: #1a1a1abe;
  border-style: solid;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.5rem;
}

footer {
  text-align: center;
  background-color: #AA0114;
  color: #f7f7f7;
}

.contact {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align-last: center;
}

.contact-form {
  background-color: #fde49ebe;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.25rem solid #feb94140;
}

.input-group-wrapper {
  display: grid;
  row-gap: 1rem;
}

.contact-form button,
.input-group input,
.input-group textarea {
  width: 100%;
}

.input-group input,
.input-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.input-group textarea {
  resize: vertical;
}

@media screen and (max-width: 859px) {
  .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar {
    display: none;
    opacity: 0;
  }

  .navbar.active {
    display: block;
    opacity: 1;
  }

  .toggle-navbar {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .logo p:not(.page-title) {
    display: none;
  }

  .hero .hero-btn-wrapper {
    flex-direction: column;
  }
}